::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #000;
}

::-webkit-scrollbar-thumb {
  background-color: #000000c1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 0 1000px #00000031;
}

.html5{
  width: 85%;
}

.css3{
  width: 85%;
}
